<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<h2>Klassifikation von Buchgenres</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Geben Sie den Klappentext des Buchs hier ein.</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="book_text" rows="10" cols="100"></textarea>
		<br/>
		
		<p>Geben Sie den/die Autor/en des Buchs hier ein.</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="book_author" rows="1" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Vorhersage">
		
	</form>
		
	</div>

	
</body>
</html>
